<div class="card m-3 bg-white shadow" style="width:400px">
	<img class="card-img-top" src="<%- world.image_urls_for_sizes['440x440'] %>" :alt="world.title">
	<div class="card-body">
		<h4 class="card-title"><%- world.title %></h4>
		<p class="card-text">
			<%- world.description %><br/>
			<b><%- world.play_count %> plays</b><br/>
			<% if (!moderator) { %>
			<p>Play by launching Blocksworld, going into Play and searching
			<code>id:<%- world.id %></code></p> 
			<% } %>
			<% if (moderator) { %>
			<a href="/webui/world/reject/<%- world.id %>"><button class="btn btn-warning">Reject</button></a>
			<a href="/webui/user/ban/<%- world.author_id %>"><button class="btn btn-danger">Ban Author</button></a>
			<% } %>
		</p>
	</div>
</div>
