<%- include("header", {title: "Home"}) %>
	<div class="container">
		<h4>- Uhm, what are the metrics of Blocksworld 2 today ?</h4>
		<h4>- Well, today Blocksworld 2 has:<br/>
        <b><%= worlds %></b> worlds,<br/>
        <b><%= models %></b> models,<br/>
        and <b><%= players %></b> players !<br/></b><br/>
        Yes, that's a lot isn't it?
		</h4>
	</div>
<%- include("footer") %>
